<div class="snap-mandatory snap-y">

  <div id="inicio" class="snap-center dark:bg-gray-900">
    <app-inicio></app-inicio>
  </div>
  <div id="estadisticas" class="snap-center dark:bg-gray-900">
    <app-estadisticas></app-estadisticas>
  </div>
  <div id="beneficios" #beneficios 
  class="snap-center bg-white dark:bg-gray-900  flex items-center justify-center aspect-w-16 aspect-h-9 "
 
  >
    <app-beneficios></app-beneficios>
  </div>
  <div id="planes" class="snap-center dark:bg-gray-900">
    <app-planes></app-planes>
  </div>
  <div id="cobertura" class="snap-center dark:bg-gray-900">
    <app-cobertura></app-cobertura>
  </div>
  <div id="servicios" class="snap-center dark:bg-gray-900">
    <app-servicios></app-servicios>
  </div>
  <div id="clientes" class="snap-center dark:bg-gray-900">
      <app-nuestros-clientes></app-nuestros-clientes>
  </div>
  <div id="contacto" class="snap-center dark:bg-gray-900">
      <app-sec-contactar></app-sec-contactar>
  </div>

</div>



